QWidget#win {
    background-color: rgb(26, 26, 167);
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
}

/*屏幕截图 选区颜色*/
QWidget#widget1 {
    border: 0px solid rgb(128, 128, 128);
    background-color: rgb(20, 20, 20);
}

/*实时组合显示*/
QWidget {
    border: 0px solid rgb(128, 128, 128);
}

QFrame#qss_edit_node_alpn {
    border: 1px solid rgb(128, 128, 128);
}

/*编辑节点 alpn*/
QDialog {
    background-color: rgb(8, 8, 8);
    border: 1px solid rgb(128, 128, 128);
}

QMainWindow {
    background-color: rgb(8, 8, 8);
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

QFrame#haveline {
    background-color: rgb(102, 102, 102);
    border: 1px solid;
    border-top-color: rgb(102, 102, 102);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: transparent;
    border-right-color: transparent;
}

QLabel {
    color: rgb(245, 245, 245);
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
}

QLabel#label_line {
    border: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
    padding: 0 0 1 0px;
    color: rgb(245, 245, 245);
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
}

QLineEdit {
    color: rgb(245, 245, 245);
    border: 1px solid rgb(128, 128, 128);
    selection-color: rgb(255, 253, 253);
    background-color: rgb(20, 20, 20);
    border-radius: 0px;
    selection-background-color: rgb(0, 98, 128);
}

QLineEdit:enabled {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
}

QTextEdit {
    color: rgb(245, 245, 245);
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(4, 4, 4);
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
    border-radius: 0px;
}

QTextEdit:enable {
    color: rgb(245, 245, 245);
    background-color: rgb(4, 4, 4);
}

QTextBrowser {
    color: rgb(245, 245, 245);
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(4, 4, 4);
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
    border-radius: 0px;
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
}

QTextBrowser:enable {
    color: rgb(245, 245, 245);
    background-color: rgb(4, 4, 4);
}

QPlainTextEdit {
    color: rgb(245, 245, 245);
    background-color: rgb(4, 4, 4);
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
    border-radius: 0px;
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
}

QPlainTextEdit:enable {
    color: rgb(245, 245, 245);
    background-color: rgb(4, 4, 4);
}

QComboBox:editable {
    background-color: rgb(20, 20, 20);
}

QComboBox::drop-down:editable {
    border: 0px solid rgb(128, 128, 128);
    border-left-width: 1px;
}

QComboBox {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    selection-color: rgb(255, 253, 253);
    selection-background-color: rgb(0, 98, 128);
    padding: 0 0 0 2px
}

QComboBox::down-arrow {
    image: url(./data/style/qss3/bottom.png);
    width: 10px;
    height: 10px;
    right: 0px;
}

QComboBox::down-arrow:disabled {
    image: url(./data/style/qss3/bottom_disable.png);
    width: 10px;
    height: 10px;
    right: 0px;
}

QComboBox#tordirserv {
    combobox-popup: 0;
}

QComboBox::drop-down {
    background-color: rgb(20, 20, 20);
    border: 0px solid rgb(128, 128, 128);
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border-left-width: 0px;
    border-left-style: solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

QAbstractItemView {
    color: rgb(233, 233, 233);
    background: rgb(32, 32, 32);
}

QSpinBox, QDoubleSpinBox, QDateTimeEdit {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
    padding: 1px;
    selection-background-color: rgb(0, 98, 128);
    selection-color: rgb(255, 253, 253);
}

QSpinBox::up-button, QDoubleSpinBox::up-button, QDateTimeEdit::up-button {
    image: url(./data/style/qss3/top.png);
    width: 10px;
    height: 10px;
    padding: 2px 3px 0px 0px;
}

QSpinBox::down-button, QDoubleSpinBox::down-button, QDateTimeEdit::down-button {
    image: url(./data/style/qss3/bottom.png);
    width: 10px;
    height: 10px;
    padding: 0px 3px 2px 0px;
}

QSpinBox::up-button:disabled, QDoubleSpinBox::up-button:disabled, QDateTimeEdit::up-button:disabled {
    image: url(./data/style/qss3/top_disable.png);
    width: 10px;
    height: 10px;
    padding: 2px 3px 0px 0px;
}

QSpinBox::down-button:disabled, QDoubleSpinBox::down-button:disabled, QDateTimeEdit::down-button:disabled {
    image: url(./data/style/qss3/bottom_disable.png);
    width: 10px;
    height: 10px;
    padding: 0px 3px 2px 0px;
}

QSpinBox::up-button:pressed, QDoubleSpinBox::up-button:pressed, QDateTimeEdit::up-button:pressed {
    top: -2px;
}

QSpinBox::down-button:pressed, QDoubleSpinBox::down-button:pressed, QDateTimeEdit::down-button:pressed {
    bottom: -2px;
}

QSpinBox::up-button:off, QDoubleSpinBox::up-button:off, QDateTimeEdit::up-button:off {
    image: url(./data/style/qss3/top_disable.png);
    width: 10px;
    height: 10px;
    padding: 2px 3px 0px 0px;
}

QSpinBox::down-button:off, QDoubleSpinBox::down-button:off, QDateTimeEdit::down-button:off {
    image: url(./data/style/qss3/bottom_disable.png);
    width: 10px;
    height: 10px;
    padding: 0px 3px 2px 0px;
}

QCheckBox {
    color: rgb(245, 245, 245);
}

QCheckBox::indicator {
    width: 15px;
    height: 15px;
}

QCheckBox::indicator:unchecked {
    image: url(./data/style/qss3/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:disabled {
    image: url(./data/style/qss3/checkbox_unchecked_disable.png);
}

QCheckBox::indicator:checked {
    image: url(./data/style/qss3/checkbox_checked.png);
}

QCheckBox::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_checked_disable.png);
}

QCheckBox::indicator:indeterminate {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QCheckBox::indicator:indeterminate:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}

QRadioButton {
    color: rgb(245, 245, 245);
}

QRadioButton::indicator {
    width: 13px;
    height: 13px;
}

QRadioButton::indicator::unchecked {
    image: url(./data/style/qss3/radiobutton_unchecked.png);
}

QRadioButton::indicator::unchecked:disabled {
    image: url(./data/style/qss3/radiobutton_unchecked_disable.png);
}

QRadioButton::indicator::checked {
    image: url(./data/style/qss3/radiobutton_checked.png);
}

QRadioButton::indicator::checked:disabled {
    image: url(./data/style/qss3/radiobutton_checked_disable.png);
}

/*selection-background-color:rgb(85,85,255);*/
QProgressBar {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    border-radius: 0px;
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    height: 0px;
}

QProgressBar:chunk {
    border-radius: 0px;
    background-color: rgba(210, 210, 210, 200);
}

/*selection-background-color:rgb(85,85,255);*/
QProgressBar#buttonpbar {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    border-radius: 0px;
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    height: 0px;
}

QProgressBar#buttonpbar:chunk {
    border-radius: 0px;
    background-color: rgb(26, 26, 167);
}

QPushButton {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    min-width: 75;
    margin: 0px;
    padding: 1px;
    border-radius: 0px;
}

/*background:none;border-style:none;min-width:80;*/
QPushButton::hover {
    color: rgb(245, 245, 245);
    background-color: rgb(62, 62, 62);
    margin: .0px 0px 0px 0px;
}

QToolButton {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    margin: 0px;
    padding: 1px;
    border-radius: 0px;
}

QToolButton::hover {
    color: rgb(245, 245, 245);
    background-color: rgb(62, 62, 62);
    margin: .0px 0px 0px 0px;
}

QPushButton:pressed, QToolButton:pressed {
    background-color: rgb(0, 98, 128);
}

QToolButton::menu-button {
    background-color: transparent;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border-left-width: 0px;
    border-left-style: solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-left-color: #00FF00;
}

QToolButton::menu-indicator {
    image: none;
}

QToolButton#firefox {
    min-width: 75;
}

QMenuBar::item {
    color: rgb(245, 245, 245);
    background-color: rgb(26, 26, 26);
    padding: 1 7 1 7;
    margin: 0 0 0 0;
}

QMenuBar, QMenuBar:disabled {
    color: rgb(245, 245, 245);
    background-color: rgb(26, 26, 26);
    border: 0px solid rgb(128, 128, 128);
    margin: 0px;
    border: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(102, 102, 102);
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

QMenuBar::item:selected {
    color: rgb(249, 246, 250);
    background: rgb(62, 62, 62);
    border: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(0, 0, 102);
}

QMenu, QMenu:disabled {
    color: rgb(245, 245, 245);
    menu-scrollable: 1;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(128, 128, 128);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

QMenu::item {
    padding: 3 30 3 24;
    margin: 0 0 0 0;
}

QMenu::icon {
    padding-left: 4;
}

QLabel > QMenu::item, QLineEdit > QMenu::item, QTextEdit > QMenu::item, QPlainTextEdit > * > QMenu::item, QTextEdit > * > QMenu::item {
    padding: 3 30 3 24;
    margin: 0 0 0 0;
}

QMenu::indicator {
    width: 16px;
    height: 16px;
    padding: 0 -19 0 4;
    margin: 0 0 0 0;
}

QMenu::indicator::checked {
    image: url(./data/style/qss3/checkbox_checked.png);
}

QMenu::indicator::checked:disabled {
    image: url(./data/style/qss3/checkbox_checked_disable.png);
}

QMenu::indicator:unchecked {
    image: url(./data/style/qss3/checkbox_unchecked.png);
}

QMenu::indicator:unchecked:disabled {
    image: url(./data/style/qss3/checkbox_unchecked_disable.png);
}

QMenu::right-arrow {
    image: url(./data/style/qss3/right.png);
    width: 10px;
    height: 10px;
    padding: 0 3 0 0;
}

QMenu::right-arrow:disabled {
    image: url(./data/style/qss3/right_disable.png);
    width: 10px;
    height: 10px;
    padding: 0 3 0 0;
}

QMenu::item:selected {
    color: rgb(249, 246, 250);
    background: rgb(66, 66, 79);
}

QMenu::separator {
    height: 1px;
    background: rgb(102, 102, 102);
    padding: 0 0 0 0;
    margin: 0 3 0 24;
}

QMenu::item#nocheckbox {
    padding: 3 30 3 8;
    margin: 0 0 0 0;
}

QMenu::icon#nocheckbox {
    padding-left: 12;
}

QMenu::item:default {
    background-color: rgb(26, 26, 167);
}

QMenu::item:selected:default {
    color: rgb(249, 246, 250);
    background: rgb(66, 66, 79);
}

QMenu::indicator::checked#PartiallyChecked {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QMenu::indicator::checked:disabled#PartiallyChecked {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}

QGroupBox {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
    margin-top: 3ex;
    padding: 0px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    position: relative;
    left: 10px;
    color: rgb(233, 233, 233)
}

QGroupBox::indicator {
    padding: 0px 0px 0px 0px;
    width: 13px;
    height: 13px;
}

QGroupBox::indicator {
    width: 15px;
    height: 15px;
    padding: 0 -4 0 0;
}

QGroupBox::indicator:unchecked {
    image: url(./data/style/qss3/checkbox_unchecked.png);
}

QGroupBox::indicator:unchecked:disabled {
    image: url(./data/style/qss3/checkbox_unchecked_disable.png);
}

QGroupBox::indicator:checked {
    image: url(./data/style/qss3/checkbox_checked.png);
}

QGroupBox::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_checked_disable.png);
}

QGroupBox::indicator:indeterminate {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QGroupBox::indicator:indeterminate:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}

QListView, QListWidget {
    border: 1px solid rgb(128, 128, 128);
    alternate-background-color: #FF0000;
    gridline-color: #00FF00;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    selection-background-color: rgb(0, 98, 128);
}

QListView::item, QListWidget::item {
    padding: 3, 3, 0, 0;
}

QListView::item:selected, QListWidget::item:selected {
    color: rgb(255, 253, 253);
    border: 0px solid rgb(128, 128, 128);
    background-color: rgb(0, 98, 128);
}

QListWidget::indicator:unchecked, QListView::indicator:unchecked {
    image: url(./data/style/qss3/checkbox_unchecked.png);
}

QListWidget::indicator:unchecked:disabled, QListView::indicator:unchecked:disabled {
    image: url(./data/style/qss3/checkbox_unchecked_disable.png);
}

QListWidget::indicator:checked, QListView::indicator:checked {
    image: url(./data/style/qss3/checkbox_checked.png);
}

QListWidget::indicator:checked:disabled, QListView::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_checked_disable.png);
}

QListWidget::indicator:indeterminate, QListView::indicator:indeterminate {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QListWidget::indicator:indeterminate:disabled, QListView::indicator:indeterminate:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}

QListWidget::indicator:checked#PartiallyChecked, QListView::indicator:checked {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QListWidget::indicator:checked:disabled#PartiallyChecked, QListView::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}


QHeaderView::section {
    background-color: rgb(30, 30, 30);
    color: rgb(245, 245, 245);
    border: solid;
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
    padding: -1px 0px -1px 0px;
}

QVerticalView::section {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(128, 128, 128);
    color: rgb(245, 245, 245);
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
}

QTableWidget {
    color: rgb(233, 233, 233);
    background-color: rgb(20, 20, 20);
}

QTableView::indicator {
    padding: 0px 0px 0px 0px;
}

QTableView::indicator {
    width: 13px;
    height: 13px;
}

QTableView {
    border: 1px solid rgb(128, 128, 128);
    selection-color: rgb(249, 246, 250);
    selection-background-color: rgb(66, 66, 79);
    gridline-color: rgb(128, 128, 128);
    background-color: rgb(20, 20, 20);
    alternate-background-color: #00FF00;
}

QTableCornerButton {
    color: rgb(0, 255, 0);
    border: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    background: qlineargradient(spread:pad,
    x1: 0,
    y1: 0,
    x2: 0,
    y2: 1,
    stop: 0 rgb(30, 30, 30),
    stop: 1 rgb(30, 30, 30));
}

QScrollBar:vertical {
    width: 10px;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
}

QScrollBar:horizontal {
    height: 6px;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
}

/*空闲*/
QScrollBar::handle:horizontal, QScrollBar::handle:vertical {
    background: rgba(155, 155, 155, 200);
    min-height: 20px;
    min-width: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    border: none;
}

QScrollBar::add-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:vertical, QScrollBar::sub-page:horizontal {
    background: transparent;
}

/*鼠标移上去时*/
QScrollBar:vertical:hover, QScrollBar:horizontal:hover {
    background-color: rgba(56, 56, 56, 164);
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background: rgba(165, 165, 165, 200);
    border-radius: 0px;
}

/*纵向滚动条下面三角形部分*//*横向滚动条右边的三角形部分*//*纵向滚动条顶部三角形位置*//*横向滚动条左侧三角形位置*/
QScrollBar::add-line:vertical {
    height: 0px;
    width: 0px;
    background: transparent;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
    height: 0px;
    width: 0px;
    background: transparent;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
    background: transparent;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    height: 0px;
    width: 0px;
    background: transparent;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::handle:vertical:pressed, QScrollBar::handle:horizontal:pressed {
    background-color: rgba(210, 210, 210, 200);
    border-radius: 0px;
}

QScrollBar:vertical:pressed, QScrollBar:horizontal:pressed {
    background-color: rgba(56, 56, 56, 164);
}

QStatusBar {
    color: rgb(233, 233, 233);
    background-color: rgb(26, 26, 26);
    margin: 0px;
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(102, 102, 102);
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

QAbstractScrollArea::corner {
    height: 0px;
    width: 0px;
    background: transparent;
}

QTreeWidget::item, QTreeView::item {
    border: solid;
    padding: -1px 0px -1px 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(128, 128, 128);
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
}

QTreeWidget::item:selected, QTreeView::item:selected {
    background-color: rgb(66, 66, 79);
}

QTreeWidget::indicator, QTreeView::indicator {
    width: 15px;
    height: 15px;
}

QTreeWidget, QTreeView {
    color: rgb(233, 233, 233);
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    margin: 0px;
    padding: 1px;
    border-radius: 0px;
    selection-color: rgb(249, 246, 250);
    selection-background-color: rgb(66, 66, 79);
    gridline-color: rgb(128, 128, 128);
    alternate-background-color: #00FF00
}

QTreeWidget::indicator, QTreeView::indicator {
    width: 15px;
    height: 15px;
}

QTreeWidget::indicator:unchecked, QTreeView::indicator:unchecked {
    image: url(./data/style/qss3/checkbox_unchecked.png);
}

QTreeWidget::indicator:unchecked:disabled, QTreeView::indicator:unchecked:disabled {
    image: url(./data/style/qss3/checkbox_unchecked_disable.png);
}

QTreeWidget::indicator:checked, QTreeView::indicator:checked {
    image: url(./data/style/qss3/checkbox_checked.png);
}

QTreeWidget::indicator:checked:disabled, QTreeView::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_checked_disable.png);
}

QTreeWidget::indicator:indeterminate, QTreeView::indicator:indeterminate {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QTreeWidget::indicator:indeterminate:disabled, QTreeView::indicator:indeterminate:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}

QTreeWidget::indicator:checked#PartiallyChecked, QTreeView::indicator:checked {
    image: url(./data/style/qss3/checkbox_parcial.png);
}

QTreeWidget::indicator:checked:disabled#PartiallyChecked, QTreeView::indicator:checked:disabled {
    image: url(./data/style/qss3/checkbox_parcial_disable.png);
}


QTreeView::branch:has-siblings:! adjoins-item {
    border-image: url(./data/style/qss3/tree_vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item:! has-children {
    border-image: url(./data/style/qss3/tree_branch_more.png) 0;
}

QTreeView::branch:! has-children:! has-siblings:adjoins-item {
    border-image: url(./data/style/qss3/tree_branch_end.png) 0;
}

QTreeWidget::item:has-children {
    border-right-width: 0px;
}

QSlider::groove:horizontal {
    background: transparent;
    height: 10px;
}

QSlider::sub-page:horizontal {
    background: rgb(0, 98, 128);
    border: 1px solid rgb(128, 128, 128);
    height: 10px;
    border-radius: 0px;
}

QSlider::add-page:horizontal {
    background: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    height: 10px;
    border-radius: 0px;
}

QSlider::handle:horizontal {
    background: rgb(20, 20, 20);
    border: 1px solid rgb(128, 128, 128);
    width: 13px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 0px;
}

QSlider::handle:horizontal:hover {
    background: rgb(62, 62, 62);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
}

QSlider::handle:horizontal:pressed {
    background: rgb(0, 98, 128);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
}


QTabWidget::pane {
    border: 1px solid rgb(128, 128, 128);
}

QTabWidget::tab-bar {
    left: 2px;
}

QTabBar::tab {
    background: rgb(20, 20, 20);
    left: 2px;
    color: rgb(233, 233, 233);
    padding: 1 7 1 7;
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

QTabBar::tab:selected {
    background: rgb(62, 62, 62);
    color: rgb(245, 245, 245);
    border: solid;
    padding: 1 7 1 7;
    border-top-width: 2px;
    border-top-color: rgb(0, 98, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

/*QTabBar::tab:hover{background: rgb(62,62,62);
color:rgb(245,245,245);border:solid;padding: 1 7 1 7;
border-top-width: 2px; border-top-color: rgb(0,98,128);
border-left-width: 1px; border-left-color:rgb(128,128,128);}*/

QTabBar::tab:last {
    background: rgb(20, 20, 20);
    left: 2px;
    color: rgb(233, 233, 233);
    padding: 1 7 1 7;
    border: solid;
    border-top-width: 1px;
    border-top-color: rgb(128, 128, 128);
    border-right-width: 3px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}

QTabBar::tab:selected:last {
    background: rgb(62, 62, 62);
    color: rgb(245, 245, 245);
    border: solid;
    padding: 1 7 1 7;
    border-top-width: 2px;
    border-top-color: rgb(0, 98, 128);
    border-right-width: 3px;
    border-right-color: rgb(128, 128, 128);
    border-left-width: 1px;
    border-left-color: rgb(128, 128, 128);
}


QKeySequenceEdit {
    border: 0px solid rgb(128, 128, 128);
}

/*失效部分*/
QLabel#label_line:disabled {
    color: rgb(148, 148, 148);
}

*:disabled {
    color: rgb(148, 148, 148);
}

*::title:disabled {
    color: rgb(148, 148, 148);
}

*::section:disabled {
    color: rgb(148, 148, 148);
}

QPushButton:disabled, QLineEdit:disabled, QTextEdit:disabled, QTextBrowser:disabled, QPlainTextEdit:disabled, QToolButton:disabled,
QComboBox:disabled, QSpinBox:disabled, QProgressBar:disabled, QTableWidget:disabled, QDateTimeEdit:disabled,
QGroupBox:disabled, QScrollBar:disabled {
    color: rgb(148, 148, 148);
    background-color: rgb(32, 32, 32);
}

QMenuBar::item:disabled {
    color: rgb(148, 148, 148);
    background-color: rgb(26, 26, 26);
}

QMenu::item:disabled {
    color: rgb(148, 148, 148);
    background-color: rgb(32, 32, 32);
}

QComboBox::drop-down:disabled {
    color: rgb(148, 148, 148);
    background-color: rgb(32, 32, 32);
}

QScrollBar::handle:vertical:disabled, QScrollBar::handle:horizontal:disabled {
    background-color: rgba(155, 155, 155, 100);
    border-radius: 0px;
}

/*其他部分 transparent*/
QToolTip {
    background-color: rgb(8, 8, 8);
    color: rgb(233, 233, 233);
    border: 1px solid rgb(128, 128, 128);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

* {
    border-radius: 0px;
    color: rgb(245, 245, 245);
    background-color: transparent;
}

QPalette {
    background: #FF0000;
}

* {
    font: 9pt "微软雅黑";
    outline: 0px;
}

/*焦点高亮部分*/
QComboBox:hover, QSpinBox:hover, QDoubleSpinBox:hover, QDateEdit:hover, QTimeEdit:hover, QDateTimeEdit:hover, QFontComboBox:hover,
QLineEdit:hover,
QPushButton:hover, QToolButton:hover {
    border-color: rgba(0, 255, 255, 160);
}
